@page {
    margin: 0.7in 0.4in 0.4in 0.4in ;
}

.section {
    column-count: 2;
    column-gap: 0.8in;
    font-size: 9.5pt;
    font-family: "Source Serif Pro", serif;
}

h1 {
    font-size: 130%;
    margin: 0 0 0.75em 0;
}

p {
    margin-bottom: 1em;
    page-break-inside: avoid;
    text-indent: -1em;
    margin-left: 1em;
    line-height: 1.5;

}

ul {
    padding-left: 1.5em !important;
    margin-left: 0;
    margin-top: -1em;
}

li {
    padding-left: 0;
    margin-left: 0;
}

